* {
  margin: 0 auto;
  background-color: #fefefe;
  font-family: fantasy, Helvetica;
}

.burger-container {
  margin: 0 20px;
}

.title-container {
  margin-bottom: 5vh;
  text-align: center;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 300px;
  margin: 50px auto;
}

.burger-item {
  border: 1.5px solid;
  margin-top: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 100%;
  height: 15px;
}

.burger-item::before {
  content: "";
  color: rgba(255, 255, 255, 0);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: inherit;
}

/* Bread */
.bread {
  background-color: SandyBrown;
  height: 125px;
  border-radius: 5px;
}

.bread::before {
  content: "Pain";
}

.bread:first-child {
  border-radius: 50% 50% 0 0;
  height: 90px;
}

.bread:last-child {
  border-radius: 0 0 40px 40px;
  height: 50px;
}

/* Salad */
.salad {
  background-color: YellowGreen;
  border-radius: 20px 20px 0 0;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.salad::before {
  content: "Salade";
}

/* Tomato */
.tomatoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  width: 100%;
}

.tomato {
  background-color: Tomato;
  border-radius: 20px 20px 20px 20px;
  width: calc(50% - 10px);
}

.tomato::before {
  content: "Tomate";
}

/* Cheese */
.cheese, .cheese--camembert, .cheese--moisie {
  background-color: #ffe380;
  border-radius: 20px 20px 20px 20px;
}

.cheese--camembert {
  background-color: #e8f5c9;
}

.cheese--moisie {
  background-color: #3ec042;
}

.cheese::before, .cheese--camembert::before, .cheese--moisie::before {
  content: "Fromage";
}

.cheese + .ham, .cheese--camembert + .ham, .cheese--moisie + .ham {
  background: -webkit-gradient(linear, left bottom, left top, from(#693d3d), color-stop(62%, #693d3d), to(#d5bb5f));
  background: linear-gradient(0deg, #693d3d 0%, #693d3d 62%, #d5bb5f 100%);
}

.ham {
  background-color: #693d3d;
  height: 30px;
  border-radius: 20px 20px 20px 20px;
}

.ham::before {
  content: "Viande";
}

#buttonDispatch:active + .burger .burger-item {
  margin-bottom: 20px;
}

#buttonDispatch:active + .burger .burger-item::before,
.burger-item:hover::before {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}
/*# sourceMappingURL=main.css.map */